#wrap-fb-comment {
	margin-right: 20px;
}
#wrap-fb-comment h2 {
	text-align: center;
	padding-bottom: 30px;
	border-bottom: 1px solid #bbb;
}
#wrap-fb-comment .form-box {
	width: 350px;
	margin: 30px auto;
	padding: 18px;
	background-color: #fff;
	border: 1px solid #bbb;
}
#wrap-fb-comment .form-control {
	margin: 8px 0px;
}
#wrap-fb-comment .form-control label {}
#wrap-fb-comment input[type="text"],
#wrap-fb-comment input[type="number"],
#wrap-fb-comment input[type="password"],
#wrap-fb-comment input[type="email"],
#wrap-fb-comment select,
#wrap-fb-comment textarea {
	width: 100%;
}